<div class="left">
<div class="info-1">
    <img src="../../../assets/Coin Icon.svg">
    
</div>
<div class="info-2">
    <img src="../../../assets/فلوس.svg" alt="" srcset="">
    <h6>Money</h6>
    <div class="img">
        <img src="../../../assets/Wing Right.svg" alt="" srcset="" class="wingr">
        <img src="../../../assets/Wing Left.svg" alt="" srcset="" class="wingl">
    </div>
</div>

<div class="info-3">

    <h3 class="circle2">{{price}} EGP</h3>
</div>
<hr class="hr">

<div class="info-4 mt-5">
    <img src="../../../assets/Time Icon.svg" alt="" srcset="">
    <div class="mt-2 te "> 
         <img src="../../../assets/وقت.svg" alt="" srcset="">
         <h6><p>Time</p></h6>
        </div>
  
</div>
<div class="info-5 mb-1">

    <h3 class="circle3">{{count}} Hrs</h3>
</div>

<hr class="hr2">

<div class="info-6 ">
    <div class="next " (click)="rot()">
      <a routerLink="/foundations"> <span><i class="fa fa-arrow-left"></i></span></a> 
    </div>
    <h3 class="">التالي</h3>
</div>
</div>
