
<section class="b-g ">
<section class="  main-text">

    <div class="f-s h3 mb-5 mt-5">
        <div class="tri mb-5"></div>
        <!-- <span class="triangle"><i class="fa fa-play"></i></span> -->
        <div class="box"> </div>
        <div class="circle"></div>
        <div class="circle2"></div>
        <h1 class="mt-5">أسرع طريقة لتقييم أي برنامج</h1>
        
        <h1>!وفر وقت وفلوس</h1>
        
    </div>
    <div class="button"> 
         <button class="btn" routerLink="/platform"> ابدأ دلوقتي</button></div>
 
  
</section>


<div class="row ">
    <div class="col-12 col-md-5 col-lg-5 grd1">
        
    </div>
    <div class="col-12 col-md-2 col-lg-2 imgs">
        
    </div>
    <div class="col-12 col-md-5 col-lg-5 grd2">
        
    </div>

</div>

</section>

