.b-g{
    background-color:black;
    
}
body{
    background-color:black;
}
.titel{
    background-color:#5A0BD8;
    height: 200px;
    text-align: center;
    color: #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
   transform: rotate(60deg);
   animation: left-move 1s linear forwards;
}
.titelend{
    background-color:#5A0BD8;
    height: 200px;
    text-align: center;
    color: #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: rotate(0deg);
    animation: end-move 1s linear forwards;
}
.details{
 
  display: inline-block;
}
.shep{
   padding-top: 80px;
}
.diamond {
    width: 17px; 
    height: 16px; 
   background-color: #FFFFFF;
   border: 3px black solid;
    margin: 3px 0 0 30px;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    display: inline-block;
 }
 .Pattern{
    padding-left: 0;
  
 }
 .rotate{
      transform: rotate(60deg);
   animation: left-move 1.2s linear forwards;
 }
 .rotateend{
    transform: rotate(0deg);
    animation: end-move 1s linear forwards;
 }
 .info{
    padding-right: 0;
    text-align: right;
    
 }
 .info-1{
    padding-top: 90px;
 }
 .info-1 img{
    padding-right: 35px;
 }
 .info-2{
 padding-top: 10px;
 
 }
 .info-2 img{
    padding-right: 20px;
 }
 .info-2 h6{
     color: #FFFFFF;
     padding-right: 37px;
 }
 .img{
     position: relative;
 }
 .wingr{
     position: absolute;
     top: -65px;
     right: -35px;
 }
 .wingl{
     position: absolute;
     top: -61px;
    left:  163px; 
 }
 .info-3{
     position: relative;
 }
 .info-3 h3{
    color: #FFFFFF;
 }
 .circle2::after{
     content: '';
     background-color: #DE6758;
     width: 10px;
     height: 10px;
     border-radius: 50px;
     position: absolute;
     margin-left: 10px;
 
 bottom: 23.93%;}
 .circle2::before{
     content: '';
     background-color: #DE6758;
     width: 10px;
     height: 10px;
     border-radius: 50px;
     position: absolute;
   right:133px;
 
 bottom: 23.93%;}
 .time{
    margin: auto;
    text-align: center;
    position: relative;
    
 }
 .span-time{
    position: absolute;
    height: 165px;
    width:  1px;
    top: 37px;
    left: 105px;
    border-left:1px solid #B1B1B8;
    color: #B1B1B8;
 }
 .info-4{
    padding-top: 42px;
    
   
 }
 
 .info-4 h6{
    color: #FFFFFF;
   
    
}
 .info-5{
    position: relative;
   
}
.info-5 h3{
    color: #FFFFFF;
}
.circle3::after{
    content: '';
    background-color: #F4BF44;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    margin-left: 10px;

bottom: 23.93%;}
.circle3::before{
    content: '';
    background-color: #F4BF44;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
  right:362px;

bottom: 23.93%;}
.hr{
    margin: auto;
    width: 80%;
   margin-top: 30px; 
  color: #B1B1B8;
 
   
}
.teme{
   
    height: 210px;
}
.tt{
    background-color: #FFFFFF;
    height: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding-top: 10px;
}
.next{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
}
.next span{
   
    color: black;
    font-size: 25px;
    text-align: center;
    line-height: 3;
}
.data2 p{
    color: #B1B1B8;
}
.data2{
    position: relative;
}
.data2 ::after{
    content: '';
    color: #000;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right:36px;
    background-color: #000;
}
@keyframes left-move {
    100%{
        transform: rotate(0deg);
    }
}
@keyframes end-move {
    100%{
        transform: rotate(60deg);
    }
}
 /* @keyframes left-move {
    0%{
        transform: skewX(283deg);
    }
    25%{
        transform:skewX(200deg);;
    }
    50%{
       transform:skewX(150deg)
    }
    75%{
        transform:skewX(90deg)
    }
    100%{
        transform:skewX(0deg);
    }
}  */
/* @keyframes left-move {
    25%{
        transform: scaleX(.25);
    }
    50%{
      transform: scaleX(.5);
    }
    75%{
        transform: scaleX(.75);
    }
    100%{
        transform: scaleX(1);
    }
    
    
} */